# ---- Android / Gradle ----
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# ---- Python / Django ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
/media
/staticfiles
.env

# ---- OS ----
Thumbs.db
.DS_Store
